.btn {
  padding: 16px 18px;
  border: 0;
  background-color: $light-gray;
  font-family: $font-montserrat;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;

  &.btn-primary {
    background: $gradient;
    color: #fff;
  }

  &.w-100 {
    width: 100%;
  }
}
