.block.block--home-current-ads {
  .block__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
  }

  .block__title {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .block__link {
    color: $mid-gray-3;
    font-size: 14px;
    text-transform: uppercase;
  }

  .glide__slides {
    padding-bottom: 40px;
    overflow: revert;
    touch-action: pan-y;
  }
}

@include media-breakpoint-up(lg) {
  .block.block--home-current-ads {
    .block__head {
      align-items: flex-end;
      justify-content: start;
    }

    .block__title {
      font-size: 22px;
    }

    .block__link {
      margin: 0 0 2px 32px;
    }
  }
}
