$font-montserrat: 'Montserrat', sans-serif;

$darkest-purple: #3a1fcf;
$mid-purple: #8617ea;

$light-gray: #f3f3f3;
$light-gray-2: #e9e9e9;
$light-gray-3: #ccc;
$light-gray-4: #eee;

$mid-gray: #858585;
$mid-gray-2: #a7a7a7;
$mid-gray-3: #a5a5a5;

$gradient: linear-gradient(135deg, $darkest-purple, $mid-purple);
$box-shadow: 0 0 38px rgba(#000, .06);
