.block.block--search {
  padding: 0;

  .block__search {
    position: relative;
  }

  .block__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border: 0;
    background-color: transparent;

    img {
      width: 15px;
      margin-top: 3px;
      opacity: .35;
    }
  }

  .block__related {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }

  .block__title {
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
  }

  .block__list {
    margin-top: 16px;
    list-style: none;

    li {
      color: $mid-gray;
      font-size: 14px;
      line-height: 34px;
      text-align: center;
    }
  }
}

@include media-breakpoint-up(lg) {
  .block.block--search {
    position: relative;

    .container {
      width: 100%;
    }

    .block__related {
      position: absolute;
      top: calc(100% + 8px);
      width: 100%;
      padding: 30px 0;
      background-color: #fff;
    }

    .block__search {
      transition: .5s;
      transition-delay: 2s;
      opacity: 0;
    }
  }

  .header__search.is-active {
    .block__search {
      opacity: 1;
    }
  }
}
